$fontcolor-primary: #777;
$fontcolor-secondary: #fff;
$primary-accent-color: #58e1c1;
$secondary-accent-color: #51ddfc;
$button-success-color: #63cc82;

$breakpoint: 768px;

$font-primary: 'Lato', sans-serif;
$weight-primary: 300;
$weight-secondary: 700;
$p-line-height: 1.45em;